:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

section {
    background-color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    width: 20rem;
    height: 31.6rem;
    gap: 1rem;
}

section img {
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
}

.textcontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: 18rem;
    height: 8rem;
    padding: 0.5rem;
    font-weight: 700;

}

.textcontent p {
    color: var(--grayish-blue);
    font-weight: 400;
}



.attribution {
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: var(--dark-blue);
}